[Unit]
Description=Service to automatically start a db updating script
After=network.target

[Service]
Type=simple
ExecStart=/script/dir/start.sh
Restart=on-failure
User=some_user
WorkingDirectory=/python/script/dir/

[Install]
WantedBy=multi-user.target
