[Unit]
Description=Service to automatically start a glucose graphing app.
After=network.target

[Service]
Type=simple
ExecStart=/start_app.sh
Restart=on-failure
User=some_user
WorkingDirectory=/python/script/dir/

[Install]
WantedBy=multi-user.target
